/*{
	margin: 0;
	padding: 0;
}
*/
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
  background-color:  silver;
  }
/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.container h1{
  color: white;
}


header{
	background-color: rgba(13, 10, 14, 0.42);
	color:white;
	padding-top: 30px;
	min-height: 70px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-left: 2px;
	margin-top: 0;
	border-bottom: 1px solid #0088dd;
	margin-bottom: 100px;

}


#form_1 form{
	float: center;
}


#form{
	width:50%;
	margin: 10px auto 10px auto;
	text-align: center;
	padding: 50px;
	border: 20px solid #0088dd;
	box-shadow: 5px 5px 5px 5px #777777;
	border-radius: 10px;

}

footer{
	background-color:rgba(13, 10, 14, 0.42) ;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	color: #ffffff;
	font-size: 20px;
	border-top: 1px solid #0088dd;
	margin-top: 100px;

}

.button1{
	color: #ffffff;
	background: #0088dd;
	align-self: center;

}
@media screen and (max-width: 768px){
	.container h1,
	form{
		width:100%;
		text-align:center;
	}


}
